@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 200px;

    width: 311px;
    height: 627px;

    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    

}

main#redes-sociais {
  
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: cover;
    background-attachment: fixed;
}

iframe#home {
    position: absolute;
    top: 79px;
    left: 22px;
    min-width: 200px;

    width: 266px;
    height: 472px;

}

div#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;

}

div#redes-sociais {
    text-align: right;
}

div#redes-sociais img:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.556);
    border: 2px solid rgba(255, 255, 255, 0.367);
    transform: translate(-5px, -5px);
    transition: transform 0.4s;
    
}
